{% extends 'base.html' %}
{% from 'pagination.html' import pagination %}

{% block content %}
    <div class="container">
        <div class="my-5">
            <h2 class="mb-3 text-center text-uppercase font-weight-bold">Каталог книг</h2>

            <form class="mb-5 mt-3 row align-items-center">
            </form>
        </div>

        <div class="books-list container-fluid mt-3 mb-3">
            {% for book in books %}
                <div class="row p-3 border rounded mb-3">
                    <div class="col-md-3 mb-3 mb-md-0 d-flex align-items-center justify-content-center">
                        <div class="book-cover">
                            {% if book.background_image %}
                                <img src="data:image/jpeg;base64,{{ book.background_image|b64encode }}"
                                     alt="{{ book.title }} Изображение обложки" class="img-fluid">
                            {% else %}
                                <img src="{{ url_for('static', filename='placeholder.jpg') }}"
                                     alt="Изображение-заполнитель" class="img-fluid">
                            {% endif %}
                        </div>
                    </div>

                    <div class="col-md-9 align-items-center">
                        <div class="d-flex">
                            <h4 class="text-uppercase">{{ book.title }}</h4>
                        </div>
                        <p class="text-muted my-1">{{ book.author }}</p>
                        <p class="my-1">Жанры: {{ book.genres }}</p>
                        <p class="my-1">Год: {{ book.year }}</p>
                        <p class="my-1">Средняя оценка: {{ book.avg_rating|default('Нет оценок', true) }}</p>
                        <p class="my-1">Количество рецензий: {{ book.review_count }}</p>
                        <p class="my-1">{{ book.description | truncate(200) }}</p>
                        <div class="mt-2">
                            <a class="btn btn-primary btn-sm me-1" href="{{ url_for('books.view', book_id=book.id) }}">Просмотр</a>
                            {% if current_user.is_authenticated %}
                                {% if current_user.can('update') %}
                                    <a class="btn btn-warning btn-sm me-1"
                                       href="{{ url_for('books.update', book_id=book.id) }}">Редактировать</a>
                                {% endif %}
                                {% if current_user.can('delete') %}
                                    <button class="btn btn-danger btn-sm me-1" data-bs-toggle="modal"
                                            data-bs-target="#deleteModal" data-book-id="{{ book.id }}"
                                            data-book-title="{{ book.title }}">Удалить
                                    </button>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="mb-5">
            {{ pagination(request.endpoint, page, page_count, pages) }}
        </div>

        {% if current_user.is_authenticated and current_user.can('create') %}
            <div class="text-center my-3">
                <a class="btn btn-lg btn-dark" href="{{ url_for('books.create') }}">Создать книгу</a>
            </div>
        {% endif %}
    </div>
    <!-- Delete Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="deleteModalLabel">Удаление книги</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Вы уверены, что хотите удалить книгу <span id="modalBookTitle"></span>?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Нет</button>
                    <form method="post" id="deleteModalForm">
                        <button type="submit" class="btn btn-danger">Да</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='book_delete_modal.js') }}"></script>
{% endblock %}
